{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                 {:mvn/version "1.11.0-alpha1"}
         com.wsscode/pathom3                 {:git/url "https://github.com/wilkerlucio/pathom3"
                                              :sha     "81a749a6d3409a6b9e75bf85534b1dda8060de06"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
         com.walmartlabs/lacinia             {:mvn/version "0.39-alpha-5"}}
 :aliases
 {:dev     {:extra-paths ["env/dev/clj" "test"]
            :extra-deps  {hashp/hashp   {:mvn/version "0.2.0"}
                          vlaaad/reveal {:mvn/version "1.3.206"}}}
  :test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}
  :jar     {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn      hf.depstar/jar
            :exec-args    {:jar "graffito.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :local :artifact "graffito.jar"}}
  :deploy  {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn      deps-deploy.deps-deploy/deploy
            :exec-args    {:installer :remote :artifact "graffito.jar"}}}}
